/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #B4F531; color: #fff; text-shadow: none; }
::selection { background: #B4F531; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Daniel Baldwin
   ========================================================================== */
a,
a:link,
a:active,
a:visited {
	text-decoration: none;
	color: #83C203;
}

a:hover {
	color: #626262;
}

h2 {
	font: 400 34px/40px "Yanone Kaffeesatz";
	color: #83C203;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#container header {
	height: 80px;
	border-top: 4px solid #ccc;
	overflow: hidden;
	border-bottom: 4px dotted #ccc;
	padding: 7px 0;
}

#container header h1 {
	font: 700 58px/35px "Yanone Kaffeesatz";
	float: left;
	margin: 10px 0 0;
	padding: 0;
}

#container header h1 a {
	color: #000;
/*	letter-spacing: 4px;*/
}

#container header h1 span {
	display: block;
	font-size: 18px;
	color: #626262;
	font-weight: 400;
	letter-spacing: 8px;
}

#container header h1 a:hover {
	color: #83C203;
}

#container header ul {
	list-style: none;
	float: right;
	overflow: hidden;
	height: 100%;
}

#container header ul li {
	float: left;
	height: 40px;
}

#container header ul li a {
	padding: 5px 10px;
	margin-right: 15px;
	display: block;
	border: 1px solid #CECECE;
	-webkit-box-shadow: 2px 2px 0px 0px #e7e7e7;
	-moz-box-shadow: 2px 2px 0px 0px #e7e7e7;
	box-shadow: 2px 2px 0px 0px #e7e7e7;
	height: 16px;
	line-height: 16px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	color: #444;
	margin-top: 10px;
}

#container header ul li.rss-link a {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 16px 0 0;
	height: 32px;
	width: 32px;
}

#container header ul li.rss-link a:hover {
	background-color: transparent;
}

#container header ul li a:hover {
	background-color: #83C203;
	color: #fff;
}

#container #main {
/*	margin-top: 10px;*/
	overflow: hidden;
}

#container #main section .post {
	margin-bottom: 40px;
}

#container #main section .post header {
	border: 0;
	height: auto;
}

#container #main section .post header a.category {
	border: 2px solid #626262;
	padding: 5px;
	font-weight: bold;
	margin-right: 7px;
	color: #626262;
}

#container #main section .post header h2 {
	margin-bottom: 15px;
}

/*#container #main section.listing .post h2 a {
	font: 400 34px "Yanone Kaffeesatz";
}*/

#container #main section .post time {
	color: #999;
}

#container #main section .post footer {
	margin: 0;
	padding: 10px 0;
	border-bottom: 2px dotted #ccc;
	border-top: 2px dotted #ccc;
	text-align: left;
}

#container #main section.single .post footer {
	border-bottom: 0;
}

#container #main section.listing h2.category {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 4px solid #CCC;
}

#container #main #pagination {
	overflow: hidden;
	margin: 30px auto 0;
	width: auto;
	display: table;
}

#container #main #pagination a,
#container #main #pagination span {
	float: left;
	display: block;
	padding: 5px 10px;
	border: 1px solid #CECECE;
	-webkit-box-shadow: 2px 2px 0px 0px #e7e7e7;
	-moz-box-shadow: 2px 2px 0px 0px #e7e7e7;
	box-shadow: 2px 2px 0px 0px #e7e7e7;
	height: 16px;
	line-height: 16px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	color: #444;
	margin: 10px 5px;
}

#container #main #pagination a:hover {
	background-color: #83C203;
	color: #fff;
}

#container #main #pagination span {
	background-color: #E8E6E6;
}

#container #main img {
	margin: 15px;
	position: relative;
	float: left;
}

#container #main img#avatar {
	margin: 0 15px 15px 0;
	border: 1px solid #CECECE;
	-webkit-box-shadow: 2px 2px 0px 0px #e7e7e7;
	-moz-box-shadow: 2px 2px 0px 0px #e7e7e7;
	box-shadow: 2px 2px 0px 0px #e7e7e7;
}

#container #main .project-list {
	
}

#container #main .project-list li {
	margin-bottom: 15px;
}

#container #main h3 {
	border-bottom: 2px dotted #000;
	font-size: 18px;
}

#saveForm {
	padding: 5px 10px;
	margin-right: 25px;
	display: block;
	border: 1px solid #CECECE;
	-webkit-box-shadow: 2px 2px 0px 0px #e7e7e7;
	-moz-box-shadow: 2px 2px 0px 0px #e7e7e7;
	box-shadow: 2px 2px 0px 0px #e7e7e7;
	height: 28px;
	line-height: 16px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	color: #444;
	margin-top: 10px;
	background-color: #fff;
	width: 75px;
}

#saveForm:hover {
	background-color: #83C203;
	color: #fff;
}

#container #main .recaptchatable img {
	margin: 0;
	float: none;
}

#container #main #emf-form table {
	width: 100%;
}

#container #main textarea {
	width: 90%;
	height: 200px;
}

footer {
	margin: 20px 0 60px;
	padding-top: 15px;
	border-top: 4px dotted #ccc;
	color: #626262;
	text-align: right;
	overflow: hidden;
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}

@media screen and (max-width: 1000px) {
	#fork-on-github-ribbon {
		display: none;
	}
}

@media screen and (max-width: 830px) {
	body {
		margin-left: 15px;
		margin-right: 15px;
	}
	#container {
		width: 100%;
	}
	
	#container header ul {
		padding: 0;
	}
	
	
}

@media screen and (max-width: 720px) {
	#container header ul li.rss-link {
		display: none;
	}
}


@media screen and (max-width: 650px) {
	#container header {
		height: 130px;
	}
	
	#container header h1 {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
	}
	
	#container header ul {
		float: none;
		padding: 0;
		width: 355px;
		margin: 7px auto 0;
	}
	
	#container header ul li {
		padding: 0 0 0 10px;
	}
	
	#container header ul li a {
		margin: 10px 0 0;
	}
}

@media screen and (max-width: 480px) {
	#container header ul li {
		padding: 0 0 0 5px;
	}
	
	#container header ul li a span {
		display: none;
	}
	
	#container #main img#avatar {
		width: 150px;
	}
	
	footer {
		text-align: center;
		margin-bottom: 10px;
	}
	
	footer .left {
		float: none;
	}
	
	footer .right {
		float: none;
		margin-top: 15px;
	}
}





/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
